.app {
  display: grid;
  /*height: 88vh;
  width: 90vw;*/
  /*height: 89vh;
  width: 91vw;*/
  min-height: 88vh;
  min-width: 90vw;
  align-items: center;
  background-color: wheat;
  place-self: center;
  border-radius: 30px;
  margin-top: 4.65vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home {
  display: flex;
  align-content: center;
}

.countdownSquare {
  display: grid;
  place-self: stretch;
  place-items: stretch;
  overflow: hidden;
  height: 70vh !important;
}

.loginPage {
  display: grid;
  place-items: stretch;
  place-items: center;
}

@media (max-width: 800px) {
  .home {
    flex-direction: column;
  }
  .app {
    height: 90%;
  }
}

@media (min-width: 2000px) {
  .home {
    justify-content: space-evenly;
  }
}
