.backgroundImg {
  flex: 0.4;
}

.hourglassImg {
  margin-left: 6vw;
  margin-top: 3rem;
  height: 50vh;
  opacity: 20%;
  border-radius: 120px;
}

@media (max-width: 800px) {
  .backgroundImg {
    align-self: center;
  }
  .hourglassImg {
    margin-left: 1vw;
  }
}
