.homeLeft__backgroundImg {
  flex: 0.4;
}

.homeLeft__hourglassImg {
  margin-left: 6vw;
  margin-top: 3rem;
  height: 50vh;
  opacity: 20%;
  border-radius: 120px;
}

@media (max-width: 870px) {
  .homeLeft__backgroundImg {
    align-self: center;
  }
  .homeLeft__hourglassImg {
    margin: 2rem 2rem 1.5rem 2rem !important;
  }
}

/*@media (max-width: 1198px) {*/
@media (max-width: 1130px) {
  .homeLeft__hourglassImg {
    height: 45vh !important;
  }
}

@media (max-width: 1000px) {
  .homeLeft__hourglassImg {
    height: 40vh !important;
  }
}

@media (max-width: 523px) {
  .homeLeft__hourglassImg {
    height: 27vh !important;
  }
}
