.home_right {
  flex: 0.6;
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  /*justify-content: stretch;*/
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 97% !important;
  height: 100% !important;
  align-items: center;
}

.form .MuiFormControl-root {
  margin-right: 0.5vw !important;
}

/*form .form makeStyles-root-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100% !important;
  height: 100% !important;
  align-items: center;
}*/

.form > .form makeStyles-root-1 {
  display: flex !important;
  flex-direction: column !important;
}

.form > .MuiFormControl-root {
  width: 31.5vw;
  margin-left: 0 !important;
  margin-right: 5rem;
}

.input {
  /*align-self: flex-end;*/
  padding: 1.5rem;
  border-radius: 30px !important;
  border-color: rgb(219, 190, 190) !important;
  margin-bottom: 1.7rem;
  color: aliceblue !important;
  background-color: wheat !important;
}

.input > .MuiFilledInput-root {
  padding-top: 0.7rem !important;
  padding-bottom: 0.4rem !important;
}

.input .MuiFormLabel-root {
  font-size: 1.085rem;
}

.input > .MuiFilledInput-underline:before {
  border-bottom: 2px solid #92bba7 !important;
}

.input > .MuiFilledInput-root:after {
  border-bottom: 2px solid rgb(105, 141, 120) !important;
}

.input > .MuiInputBase-root {
  /*background-color: #97b6be !important;*/
  /*background-color: #94aab3 !important;*/
  background-color: rgb(245, 230, 203) !important;
  border-radius: 10px;
  align-self: stretch;
}

.input > .MuiInputLabel-root {
  color: rgba(106, 143, 121, 0.75) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.dateTimePicker {
  /*margin: 0 !important;*/
  align-self: center;
  width: 6.5rem !important;
  display: flex !important;
  flex-direction: column;
}

.datePicker {
  align-self: flex-start;
  margin-right: 3rem !important;
  padding: 0.25rem 2rem 0.45rem 0.55rem !important;
}

.datePicker .MuiFormControl-root {
  width: 18.5vw;
  color: #89bba3;
}

.datePicker .MuiFormLabel-root {
  color: rgba(105, 141, 120) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.datePicker .MuiInputBase-input {
  color: #89bba3 !important;
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.datePicker .MuiInput-underline::before {
  /*border-bottom: 2px solid rgb(207, 185, 143) !important;*/
  /*border-bottom: 2.25px solid rgba(245, 230, 203, 1.25) !important;*/
  border-bottom: 3px solid rgba(245, 230, 203, 3) !important;
}

.datePicker .MuiFilledInput-root::after {
  border-bottom: 2.25px solid rgb(105, 141, 120) !important;
}

.datePicker .MuiSvgIcon-root {
  color: #d4a5a5;
}

.timePicker {
  align-self: flex-end;
  padding-right: 0.65rem;
  padding-bottom: 0.6rem;
  margin-top: 0.45rem !important;
}

.timePicker .MuiInput-underline::before {
  /*border-bottom: 2px solid rgb(207, 185, 143) !important;*/
  border-bottom: 3px solid rgba(245, 230, 203, 3) !important;
}

.timePicker .MuiInput-underline::after {
  /*border-bottom: 2px solid #92bba7 !important;*/
  border-bottom: 2px solid rgb(105, 141, 120) !important;
}

.timePicker .MuiFormControl-root {
  width: 18.5vw;
}

.timePicker .MuiFormLabel-root {
  color: rgba(105, 141, 120) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.timePicker .MuiInputBase-input {
  color: #79b899 !important;
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timePicker .MuiSvgIcon-root {
  color: #709fb0;
}

.form a {
  width: 8.35rem;
}

.homeRight__button {
  /*align-self: flex-start;*/
  /*padding: 12px 28.5px !important;*/
  padding: 1.075rem 0.85rem !important;
  border-radius: 35px !important;
  background-color: rgb(137, 187, 159) !important;
  border: none;
  /*text-transform: inherit !important;*/
  color: whitesmoke !important;
  font-size: 1rem !important;
  width: 7.75rem !important;
}

@media (min-width: 2000px) {
  .home_right {
    flex: 0.4;
  }
}

@media (max-width: 870px) {
  .home_right {
    flex: 1 !important;
    width: 100%;
    display: flex;
    place-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .form .MuiFormControl-root {
    margin-right: 0 !important;
  }

  .form > .form makeStyles-root-1 {
    margin-right: 0 !important;
  }

  .form a {
    /*width: 12rem;*/
    display: flex;
    justify-content: center;
  }

  .homeRight__button {
    justify-self: center;
  }

  .form > .MuiFormControl-root {
    width: 60%;
  }

  .dateTimePicker {
    width: 55% !important;
  }

  .MuiGrid-root > .dateTimePicker {
    width: 100% !important;
  }

  .datePicker {
    margin: 0 !important;
    padding: 0 !important;
  }

  .datePicker > .MuiFormControl-root {
    width: 30vw;
  }

  .timePicker {
    margin: 0 !important;
    padding: 0 !important;
  }

  .timePicker > .MuiFormControl-root {
    width: 30vw;
  }

  .homeRight__button {
    padding: 1rem 0.85rem !important;
    border-radius: 35px !important;
    background-color: rgb(137, 187, 159) !important;
    border: none;
    /*text-transform: inherit !important;*/
    color: whitesmoke !important;
    font-size: 0.85rem !important;
    width: 6.5rem !important;
    margin-top: 1.3rem !important;
    margin-bottom: 2.5rem !important;
  }
}

@media (max-width: 523px) {
  .datePicker > .MuiFormControl-root {
    width: 50vw;
  }

  .timePicker > .MuiFormControl-root {
    width: 50vw;
  }

  .input .MuiFormLabel-root {
    font-size: 0.95rem;
  }

  .input > .MuiFilledInput-root {
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
  }
}

@media (max-width: 400px) {
  /*.datePicker > .MuiFormControl-root {
    width: 80vw !important;
  }

  .timePicker > .MuiFormControl-root {
    width: 80vw !important;
  }*/
}

/*@media (max-width: 415px) {
  .input .MuiFormLabel-root {
    font-size: 1rem;
  }
}*/
@media (max-width: 415px) {
  .dateTimePicker {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .datePicker > .MuiFormControl-root {
    width: 60vw !important;
  }
  .timePicker > .MuiFormControl-root {
    width: 60vw !important;
  }
  .input .MuiFormLabel-root {
    font-size: 1.285rem;
  }
  .datePicker .MuiFormLabel-root {
    font-size: 1.39rem;
  }
  .timePicker .MuiFormLabel-root {
    font-size: 1.35rem;
  }
  .homeRight__button {
    padding: 1.17rem 3.85rem !important;
  }
  .homeRight__button > .MuiButton-label {
    font-size: 0.98rem;
  }
}
