.textAndButton {
  display: flex;
  flex-direction: row;
  margin-left: 1.35rem;
  /*height: 100%;
  width: 100%;*/
}

.timerCard__copyButton {
  display: flex;
  align-items: center;
}

.linkButton {
  /*justify-self: start;
  align-self: start;*/
  height: fit-content;
  align-self: center;
  justify-self: center !important;
}

.copyText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {
  font-size: 1.3rem;
  border-left: 1px solid rgb(252, 245, 245);
  border-right: 1px solid rgb(252, 245, 245);
  border-top: 1px solid rgb(252, 245, 245);
  border-bottom: 0.25px solid rgba(252, 245, 245, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 27.5vw;*/
  /*width: 90%;*/
  /*height: 38vh;*/
  /*height: 80%;*/
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 0.5rem;
}

.dot {
  height: 0.53rem;
  width: 0.53rem;
  border-radius: 100%;
  background: rgba(255, 235, 235, 0.8);
  box-shadow: -1px 4px 12px -6px rgba(0, 0, 0, 0.75);
}

.cardTitle {
  border-bottom: 1px solid rgb(252, 245, 245);
  padding: 0.1rem 1rem 0.3rem 1rem !important;
  /*width: 75%;*/
  text-align: center;
  /*font-family: fantasy !important;*/
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cardTitle span {
  font-family: cursive;
  font-weight: 500;
  margin-left: 0.5rem;
}

.upText {
  padding-top: 1.15rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
}

.timerText {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem !important;
  display: flex !important;
  flex-direction: column !important;
  /*justify-content: space-between;*/
  align-items: center !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.38rem;
}

.pText {
  padding: 0.5rem 0.25rem !important;
  font-family: cursive;
}

.dateText {
  padding: 0.25rem 0.5rem !important;
  font-size: 1.132rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dateText1 {
  margin-right: 0.3rem;
  margin-left: 1.2rem;
}

.dateText2 {
  margin-left: 0.3rem;
  margin-right: 1.2rem;
}

.textSeconds {
  color: rgba(240, 216, 172, 1.15);
  /*color: rgb(245, 236, 220, 1.5);*/
  /*color: wheat;*/
}

/*
.leftTop {
  top: 0;
  left: 0;
}

.rightTop {
  right: 0;
  top: 0;
}*/

@media (max-width: 903px) {
}

@media (min-width: 1335px) {
  .timer {
    margin-left: 7.5rem;
    margin-right: 0.5rem;
    flex: 0.5;
  }
  .countdown__timerImg {
    flex: 0.4;
    margin-left: 6rem !important;
  }

  /*.homeLeft__hourglassImg {
    margin-left: 2.5rem;
  }*/
  .text {
    font-size: 1.6rem;
  }
  .uptext {
    font-size: 1.8rem;
  }
  .timerText {
    font-size: 1.75rem;
  }
  .pText {
    font-size: 1.6rem;
  }
  .dateText {
    font-size: 1.5rem;
  }
  .linkButton.MuiButton-root {
    padding: 1rem 1.23rem !important;
    margin-left: 2rem !important;
  }
  .text {
    padding: 1.63rem;
  }
}

@media (max-width: 415px) {
  .timerText > p {
    padding: 0.2rem;
    font-size: 1.7rem;
  }
  .text {
    padding: 1.2rem;
  }
  .countdown__timerBackground {
    height: 34vh !important;
  }
  .cardTitle {
    font-size: 1.5rem;
  }
  .buttonAndPublicText {
    margin-top: 0.85rem;
  }
  .buttons .MuiButton-root {
    padding: 0.78rem 1rem !important;
  }
  .countdown__timerBackground {
    margin-top: 3.75rem;
    margin-bottom: 3rem !important;
  }
}
