.footer {
  align-self: end;
  display: flex;
  justify-content: center;
  padding: 2vw;
  /*background-color: rgb(123, 168, 143);*/
  /*background-color: rgb(137, 187, 159);*/
  color: rgb(123, 168, 143);
  border-radius: 0 0 30px 30px;
}
