.card {
  /*background-size: auto 100%;*/

  height: 9rem;
  /*min-height: 100% !important;*/
  width: 8rem;
  color: rgba(132, 185, 155, 0.85);
  /*background-color: rgba(132, 185, 155, 0.85);*/
  /*background-color: rgb(248, 236, 216);*/
  background-color: rgb(248, 238, 222);

  border-radius: 15px;
  padding: 15px;
  margin: 1rem;
  font-size: 1rem;
  box-shadow: -1px 4px 12px -6px rgba(0, 0, 0, 0.75);
}

.title {
  text-align: center;
}

.textAndIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleText {
  color: #70adb5;
  font-family: serif;
  font-size: 1.25rem;
  border-bottom: 1px solid lightblue;
}

.titleCountdown {
  text-align: center;
}

.timerText {
  margin-top: 1rem;
  text-align: center;
}

.timerText {
  /*color: #556052;*/
  /*border-right: 1px solid lightblue;*/
}

.textDays {
  /*color: #8a8080;*/
  font-weight: bold;
}

.textHours {
  /*color: #8a8080;*/
  font-weight: bold;
}

.textMinutes {
  /*color: #8a8080;*/
  font-weight: bold;
}

.textSeconds {
  /*color: #514d6b;*/
  font-weight: bold;
}

.textUntil {
  color: rgba(231, 177, 177, 0.6);
  /*color: #709fb0;*/
  text-align: center;
}

.textUntilDate {
  font-weight: bold;
  text-align: center;
  color: #70adb5;
}

.iconButton {
  color: rgb(226, 212, 187) !important;
}
